html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f2f2f2;
    /* font-family: Times New Roman, Times New Roman, Times, serif; */
}

#app-root {
    height: 100%;
}

